
.theme-light
{
  --background-primary: #ffffff;
  --background-primary-alt: #fff4f4;
  --background-secondary: #ffffff;
  --background-secondary-alt: #fff4f4;
  --text-normal: #000000;
  --text-faint: #000000;
  --text-title-h1: #000000;
  --text-title-h2: hsl(0, 0%, 0%);
  --text-title-h3: #000000;
  --text-title-h4: #000000;
  --text-title-h5: #000000;
  --text-link: #B4B4B4;
  --text-a: #db4d52;
  --text-a-hover: #db4d52;
  --text-mark: #D3FFA4;
  --pre-code: #fff59b;
  --interactive-accent: #ff8f8f;
  --interactive-before: #5e6565;
  --background-modifier-border: #92a1a17a;
  --blockquote-border: #ff8f8f;
  --tag-background: #A7B0B3;
  --interactive-accent-rgb: #db4d52;
  --font-family-editor: "Vollkorn";
  --font-family-preview: "Times";
}

.theme-dark
{
  --background-primary: #1E2022;
  --background-primary-alt: #3b0c0c;
  --background-secondary: #1E2022;
  --background-secondary-alt: #3b0c0c;
  --text-normal: #DDDDDD;
  --text-faint: #B2B2B2;
  --text-title-h1: #CBDBE5;
  --text-title-h2: #CBDBE5;
  --text-title-h3: #CBDBE5;
  --text-title-h4: #CBDBE5;
  --text-title-h5: #CBDBE5;
  --text-link: #B4B4B4;
  --text-a: #6BCAFB;
  --text-a-hover: #6BCAFB;
  --text-mark: #263D92;
  --pre-code: #252525;
  --interactive-accent: #d35d5d;
  --interactive-before: #5e6565;
  --background-modifier-border: #92a1a17a;
  --blockquote-border: #d35d5d;
  --tag-background: #A7B0B3;
  --interactive-accent-rgb: #6BCAFB;
  --font-family-editor: "Vollkorn";
  --font-family-preview: "Times";
}
